<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stocks</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Today's Stock Price-Cryptocurrency
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                
                            </div>
                            <div class="control">
                               <!-- <button class="button is-info">
                                    Add Company
                                </button>-->    
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <div class="box">
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ company.city }}</span>
                                        <br>
                                        <span class="subtitle">Price : ${{ company.open }}</span><br>
                                        <span class="subtitle">Data as of : {{ company.date1 }}</span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ company1.city1 }}</span>
                                      <br>
                                        <span class="subtitle">Price : ${{ company1.open }}</span><br>
                                        <span class="subtitle">Data as of : {{ company1.date1 }}</span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ company2.city1 }}</span>
                                      <br>
                                        <span class="subtitle">Price : ${{ company2.open }}</span>
                                        <br>
                                        <span class="subtitle">Data as of : {{ company2.date1 }}</span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>

</html>